<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Tracker</title>
</head>
<body>
    <nav>
        <ul>
            <!-- show home whether the user is logged in or not -->
            <li><a href='/'>Home</a></li>
            <% if (user) { %>
                <!-- show these if user is logged -->
                <li><a href="/profile">Profile</a></li>
                <li><a href="/profile/logout">Logout</a></li>
            <% } else { %>
                <!-- show these if user not logged in -->
                <li><a href="/profile/new">Sign Up</a></li>
                <li><a href="/profile/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
    <h1>Workout Tracker</h1>