<%- include('../partials/header.ejs', { user }) %>

<ul>
  <li><a href="/exercises/abdominals">abdominals</a></li>
  <li><a href="/exercises/abductors">abductors</a></li>
  <li><a href="/exercises/adductors">adductors</a></li>
  <li><a href="/exercises/biceps">biceps</a></li>
  <li><a href="/exercises/calves">calves</a></li>
  <li><a href="/exercises/chest">chest</a></li>
  <li><a href="/exercises/forearms">forearms</a></li>
  <li><a href="/exercises/glutes">glutes</a></li>
  <li><a href="/exercises/hamstrings">hamstrings</a></li>
  <li><a href="/exercises/lats">lats</a></li>
  <li><a href="/exercises/lower_back">lower_back</a></li>
  <li><a href="/exercises/middle_back">middle_back</a></li>
  <li><a href="/exercises/neck">neck</a></li>
  <li><a href="/exercises/quadriceps">quadriceps</a></li>
  <li><a href="/exercises/traps">traps</a></li>
  <li><a href="/exercises/triceps">triceps</a></li>
</ul>

<%- include('../partials/footer.ejs') %>